/* styles-6 variables */
$theme-color: #002642;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #002642;
$lighter-grey: #ccc;
/* background */
$darker-grey: #0E1C36;
$smoky-white: #002642;
$heart: #fb866a;
