/* styles-6 variables */

/* text and side bar*/
$theme-color: #FFE66D;

$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #FFE66D;

$lighter-grey: #FFE66D;
$darker-grey: #FFE66D;

/* background */
$smoky-white: #FCFAF9;

$heart: #fb866a;
