/* styles-6 variables */

/* text and side bar*/
$theme-color: #FCBA04;

$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #FCBA04;

$lighter-grey: #FFE66D;
$darker-grey: #FFE66D;

/* background */
$smoky-white: #CECCCC;

$heart: #fb866a;
